.profile{
    width: 50%;
    border-right: 1px solid var(--twitter-background);
    overflow-y: scroll; 
    position: relative;
    display: flex;
    flex-direction: column;
}

.profile::-webkit-scrollbar{
    display: none;
}

.home{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.profile__header{
    position: sticky;
    width: 100%;
    top: 0;
    background-color: white;
    height: 480px;
    z-index: 100;
    border-bottom: 3px solid var(--twitter-background);
}

.profile__info{
    border-top: 1px solid var(---twitter-background);
    margin-top: 40px;
    display: flex;
    top: 140px;
    padding: 0 0 0 20px;
}

.profile__info > h3{
    margin: 0;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
}

.profile__info > h3 > span{
    padding-left: 5px;
    font-size: 15px;
    font-weight: 500;
    color: gray;
}

.profile__follow{
    display: flex;
    padding-left: 20px;
    height: 60px;
}

.profile__follow > p{
    padding-left: 10px;
    font-weight: 500;
    color: gray;
    font-size:14px;
    height: 43px;
    line-height: 43px;
}

.profile__follow > p > span{
    font-size: 10px;
    padding: 2px;
}

.profile__userDescription{
    width: 80%;
    margin: 0 auto;
    height: 100px;
}

.profile__userDescription__overview{
    height: 50px;
    overflow-y: scroll;
}

.profile__userDescription__overview > p {
    line-height: 18px;
    font-size: 15px;
    font-weight: 600;
}

.profile__userDeiscription_header{
    display: flex;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}


.user__image{
    width: 100%;
    border-radius: 10px;
    height: 250px;
    border: 3px solid lightgray;
    opacity: 0.8;
}

.no__user__image{
    background-color: #bdbdbd;
    width: 100%;
    border-radius: 10px;
    height: 250px;
    border: 3px solid lightgray;
    opacity: 0.8;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.no__displayuser{
    display: flex;
    margin-left: auto;
}

