.home{
    float: left;
    flex: 0.45;
    border-right: 1px solid var(--twitter-background);
    overflow-y: scroll;
    /* min-width: fit-content; */
}

.home::-webkit-scrollbar{
    display: none;
}

.home{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.home__header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}

.home__header > h2{
    font-size: 20px;
    font-weight: 800;
}